extends index

block link
  -var active = "Members";
block content
    .related-movies-body
      .side-bar
        span(style={"color" : person.color})=person.firstName + " " + person.lastName
        a.bar3(href=url.slice(0,-1).join("/")) Overview
        a.side-bar-active(href=url.slice(0,-1).join("/") + "/filmography") Filmography
        a.bar3(href=url.slice(0,-1).join("/") + "/frequent-collaborators") Frequest Collaborators
      .overview-top
        hr
        .flag
          ul.f32
            li.flag.us
        .movie-name
          h1
            span(style={"color" : person.color})=person.firstName + " " + person.lastName + "'s"
            |  Filmography
      if columnOne.length != 0 || columnTwo.length != 0
        .search(style='bottom: 280px;')
          label
            strong Search:
          input
        .community-instructions(style='bottom: 275px;')
          p Click on the movie name to view its page
        .row(style="bottom: 255px;")
          .column
            each movie, i in columnOne
              .related-movies-one
                .related-movies-content-one
                  a(href='/movies/' + movie.Title.toLowerCase().replace(/\s/g,"-"))
                    h4(style="display:none;").title=movie.Title
                    if movie.Title.length > 27
                      h4.title=movie.Title.substring(0, 25) + "..."
                    else
                      h4.title=movie.Title
                  ul
                    li Released: #{movie.Released}
                    li Runtime: #{movie.Runtime}
                    li(style="display:none") #{movie.Genre}
                    li Genre: #{movie.Genre.substring(0,20) + "..."}
                  img(src=movie.Poster)
                  br
                  br
                br

          .column
            each movie, i in columnTwo
              .related-movies-one
                .related-movies-content-one
                  a(href='/movies/' + movie.Title.toLowerCase().replace(/\s/g,"-"))
                    h4(style="display:none;").title=movie.Title
                    if movie.Title.length > 27
                      h4.title=movie.Title.substring(0, 25) + "..."
                    else
                      h4.title=movie.Title
                  ul
                    li Released: #{movie.Released}
                    li Runtime: #{movie.Runtime}
                    li(style="display:none") #{movie.Genre}
                    li Genre: #{movie.Genre.substring(0,20) + "..."}
                  img(src=movie.Poster)
                  br
                  br
                br
      else
        .number-of-type
          h2(style={color: person.color})
            span(style={color : person.color})
            |  #{person.firstName + " " + person.lastName} 
            span(style="color: #fff;")
              | Is Not Featured In Any Movie


    script.
      const searchInput = document.getElementsByClassName("search");
      const rows = document.querySelectorAll(".related-movies-one");

      searchInput[0].addEventListener("keyup", function (event) {
        const q = event.target.value.toLowerCase();
        rows.forEach((row) => {
          if(row.querySelector("h4").textContent.toLowerCase().includes(q) || row.querySelectorAll("li")[2].textContent.toLowerCase().includes(q)){
            row.style.display = ""
          }else{
            row.style.display = "none"
          }
        });
      });

