extends index
block link
  -var active = "Members";
block content
    .uam-content
      .side-bar
        span(style={"color" : person.color})=person.firstName + " " + person.lastName
        a.bar1(href=url.slice(0,-1).join("/")) Overview
        a.bar2(href=url.slice(0,-1).join("/") + "/filmography") Filmography
        a.side-bar-active(href='frequent-collaborators') Frequent Collaborators
      .overview-top
        hr
        .flag
          ul.f32
            li(class="flag " + person.country)
        .profile-name
          -var len = person.firstName + person.lastName + "'s " + "Frequent Collaborators"
          if len.length >= 40
            h2
              span(style={"color" : person.color})=person.firstName + " " + person.lastName + "'s"
              |  Frequent Collaborators
          else
            h1
              span(style={"color" : person.color})=person.firstName + " " + person.lastName + "'s"
              |  Frequent Collaborators
      if collaborators.length != 0
        .number-of-followers
          h2 Collaborators: #{collaborators.length}
        .community-instructions
          p Click on the person&apos;s name to view their profile
        table.video-table(align='center' border='1px')
          br
          br
          tr
            th
            th Name
            th &zwnj;
            th Type

          each collaborator, i in collaborators
            tr
              td
              td
                a(style={'color' : collaborator.color} href=url.slice(0,-2).join("/") + "/" + collaborator.url_name)=collaborator.firstName + " " + collaborator.lastName
              td &zwnj;
              td=collaborator.type
      else
        .number-of-type
          h3(style={color: person.color})
            span(style={color : person.color})
            |  #{person.firstName + " " + person.lastName} 
            span(style="color: #fff;")
              | Does Not Have Any Frequent Collaborators
